@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.cachee {
    display: none;
  }

body {
  font-family: 'Poppins', sans-serif;
}

.rules {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.rules-content {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  overflow: hidden;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#upArrow {
  padding-left: 20px;
}

#iKey {
  width: 65px;
}

.controls {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.controls-content {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  overflow: hidden;
}

.closeControls:hover,
.closeControls:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.closeControls {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.iKey {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 675px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Satisfy', cursive;
  max-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img[src="img/parchemin1.png"] {
  max-height: 900px; 
}

.centered img[src="img/parchemin1.png"] {
  max-height: 900px; 
}

.objectives-container {
  padding: 20px;
}

img[src="img/parchemin2.png"] {
  max-height: 900px; 
}

.centered img[src="img/parchemin2.png"] {
  max-height: 900px; 
}

.controls-container {
  padding: 20px;
}